html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	/*border-spacing: 0;*/
}

button {
	background: none;
	border: 1px solid darkgray;
}


/* FIN DU RESET */
h1, p {
	font-family: arial;
}

.main-title, .dash-title {
	text-align: center;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: rgba(189, 195, 199,0.6) !important;
}

.login-container, .form-container {
	padding: 10px;
	border: 2px solid rgba(243, 156, 18,1.0);
	border-radius: 8px;
	width: 25%;
	min-width: 300px;
	margin-right: auto;
	margin-left: auto;
	background-color: rgba(236, 240, 241,1.0);
}

.login-inline {
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
}

.input {
	width: 96%;
	border-radius: 30px;
	border: 2px solid darkgray;
	padding: 0px 0px 0px 5px;
	height: 25px;
	margin-bottom: 10px;
}

.selectrole {
	border-radius: 15px;
	border: 2px solid #2ecc71;
	padding: 2px;
}

.connection {
	margin-top: 10px;
	border: 2px solid darkgray;
	border-radius: 15px;
}

.edit {
	text-align: center;
}

th {
	background-color: rgba(243, 156, 18,1.0);
}

tr:nth-child(even) {
	background-color: rgba(189, 195, 199,1.0);
}

tr:nth-child(odd) {
	background-color: rgba(236, 240, 241,1.0);
}

table {
	border: 1px solid darkgray;
}

.table-responsive {
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}

.logo-a {
	width: 45px;
	border-radius: 15px;
}

.container-fluid {
	color: white;
	background-color: #ABB7B7;
	border-bottom: 2px solid rgba(243, 156, 18,1.0);
}

.detail-container {
	border-bottom: 2px solid rgba(243, 156, 18,1.0);
	border-top: 2px solid rgba(243, 156, 18,1.0);
	border-right: 2px solid rgba(243, 156, 18,1.0);
	border-radius: 0px 10px 10px 0px;
	margin-bottom: 15px;
	background-color: rgba(236, 240, 241,1.0);
}

.chrono-container {
	float:right !important;
	border-bottom: 2px solid rgba(243, 156, 18,1.0);
	border-top: 2px solid rgba(243, 156, 18,1.0);
	border-left: 2px solid rgba(243, 156, 18,1.0);
	border-radius: 10px 0px 0px 10px;
	background-color: rgba(236, 240, 241,1.0);
}

.chrono {
	font-size: 9em;
}

@media (max-width: 995px) { 
	.chrono-container {
		float: none !important;
		margin-left: 10px;
		margin-bottom: 10px;
	}

	.detail-container {
		margin-right: 10px;
	}
}

.container-btn {
	text-align: center;
}

.btn-chrono {
	font-size: 4em !important;
	margin-right: 10px;
	text-align: center;
	width: 25%;
	min-width: 70px;
}

.state-control {
	margin-bottom: 15px;
}

.logout {
	float: right;
	font-size: 2.1em !important;
	margin-top: -50px;
	margin-bottom: 5px;
	width: 40px;
	height: 40px;
	text-align: center;
	border-radius: 30px;
	background-color: darkgray;
	color: white;
	transition: all 0.3s ease;
}

.logout:hover {
	background-color: rgba(243, 156, 18,1.0);
	color: rgba(41, 128, 185,1.0);
}

a {
	text-decoration: none;
}

.add-tache {
	position: fixed;
	bottom: 25px;
	left: 25px;
	font-size: 4em;
	color: rgba(243, 156, 18,1.0);
	background-color: white;
	width: 75px;
	height: 75px;
	text-align: center;
	border-radius: 60px;
	box-shadow: 0px 0px 3px white;
	transition: all 0.3s ease;
}

.add-tache:hover {
	color: rgba(41, 128, 185,1.0);
	background-color: rgba(243, 156, 18,1.0);
	box-shadow: 0px 0px 10px rgba(243, 156, 18,1.0);
}

.details-icon {
	color: #3498db;
	margin-left: 15px;
	font-size: 20px !important;
	transition: all 0.3s ease;
}

.details-icon:hover {
	color: rgba(243, 156, 18,1.0);
}

.form-container {
	width: 80%;
	margin-bottom: 10px;
}

#secondes, #minutes, #heures, .separator, .separator-s {
	display: inline-block;
	font-size: 8em;
}

#secondes, .separator-s {
	font-size: 4em;
}

.operateur {
	font-size: 8em;
}

.negatif {
	color: rgba(192, 57, 43,1.0);
}

.hiddenId {
	display: none;
}

.message-edit, .message-create {
	padding: 10px;
	margin-bottom: 5px;
	background-color: #2ecc71 !important;
	color: white;
	font-size: 1.2em;
}

.menu-user {
	text-align: center;
}

.liste-user {
	height: 80px !important;
}

.item-menu {
	display: inline-block;
	font-size: 1.4em;
	margin-top: -8px;
	transition: all 0.8s ease;
}

.item-menu:hover {
	box-shadow:inset 0px -2px 0px 0px rgba(243, 156, 18,1.0);
}

.active {
	box-shadow:inset 0px -2px 0px 0px rgba(41, 128, 185,1.0);
}